*{
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

}
.nav-icon{
    height: 70px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.nav-icon:hover{
    background-color: #f1f1f1;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0ms;
}
.browse{
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.browse:hover{
    background-color: #f1f1f1;
    border-radius: 50%;
    transition: 0.5s;
    transition-delay: 0ms;
}
.b-icon{
    margin-right: 10px;
}